;; shadow-cljs configuration
{:deps
 true

 :nrepl
 {:port       9000
  :middleware []}

 :builds
 {:app {:target    :node-script
        :output-to "target/index.js"
        :main      template.core/main
        :devtools  {:after-load template.core/hot-reload}}}}
