;; shadow-cljs configuration
{:deps
 true

 :nrepl
 {:port       9000
  :middleware []}

 :builds
 {:app  {:target    :node-script
         :output-to "target/index.js"
         :main      fbbot.core/main
         :devtools  {:preloads   [fbbot.preload]
                     :after-load fbbot.core/hot-reload}}
  :test {:target    :node-test
         :output-to "target/node-tests.js"
         :ns-regexp "paybot$"
         :autorun   true
         :devtools  {:preloads [fbbot.preload]}}}}
